<aside id="dribbble" class="container">
    <header class="wrapper">
        <h2>Recent shots on dribbble.</h2>
    </header>

    <section class="wrapper">
        <div class="preview">
            <a href="http://dribbble.com/shots/297147-Glowing-Icon">
                <h4>Glowing Icon</h4>
                <p><img src="/images/dribbble-1.png" alt="Glowing Icon preview" title="Glowing Icon shot on dribbble" /></p>
            </a>
        </div>
        <div class="preview">
            <a href="http://dribbble.com/shots/289196-Reduce-Your-Cognitive-Load">
                <h4>Reduce Your Cognitive Load</h4>
                <p><img src="/images/dribbble-2.png" alt="Reduce Your Cognitive Load preview" title="Reduce Your Cognitive Load shot on dribbble" /></p>
            </a>
        </div>
        <div class="preview">
            <a href="http://dribbble.com/shots/284691-Getting-Shit-Done">
                <h4>Getting Shit Done</h4>
                <p><img src="/images/dribbble-3.png" alt="Getting Shit Done preview" title="Getting Shit Done shot on dribbble" /></p>
            </a>
        </div>
        <div class="preview last">
            <a href="http://dribbble.com/shots/247715-My-Moments">
                <h4>My Moments</h4>
                <p><img src="/images/dribbble-4.png" alt="My Moments preview" title="My Moments shot on dribbble" /></p>
            </a>
        </div>
    </section>
</aside>
