<aside id="dribbble" class="container">
    <header class="wrapper">
        <h2>Latest portfolio work.</h2>
    </header>

    <section class="wrapper">
        <div class="preview">
            <a href="https://dribbble.com/shots/3115598-BMW-FS-Email-Templates">
                <h4>BMW FS Email Templates</h4>
                <p><img src="/images/dribbble/bmw-fs-email.gif" alt="BMW FS Email Templates preview" title="BMW FS Email Templates on dribbble" /></p>
            </a>
        </div>
        <div class="preview">
            <a href="https://dribbble.com/shots/2930124-My-Mederma-App-for-iOS-Android">
                <h4>My Mederma App</h4>
                <p><img src="/images/dribbble/my-mederma-app.png" alt="My Mederma App preview" title="My Mederma App on dribbble" /></p>
            </a>
        </div>
        <div class="preview">
            <a href="https://dribbble.com/shots/2677198-Soleo-Email-and-Landing-Page">
                <h4>Soleo Email and Landing Page</h4>
                <p><img src="/images/dribbble/soleo-website-email.png" alt="Soleo Email and Landing Page preview" title="Soleo Email and Landing Page on dribbble" /></p>
            </a>
        </div>
        <div class="preview last">
            <a href="https://dribbble.com/shots/1902613-Esplanade-Travel">
                <h4>Esplanade Travel</h4>
                <p><img src="/images/dribbble/esplanade-travel-website.png" alt="Esplanade Travel preview" title="Esplanade Travel on dribbble" /></p>
            </a>
        </div>
    </section>
</aside>
