<aside id="dribbble" class="container">
    <header class="wrapper">
        <h2>Latest portfolio work.</h2>
    </header>

    <section class="wrapper">
        <div class="preview">
            <a href="https://dribbble.com/shots/4863581-Icons-for-Health-Care-App">
                <h4>Icons for Health Care App</h4>
                <p><img src="/images/dribbble/health-care-app-icons.png" alt="Icons for Health Care App preview" title="Icons for Health Care App on dribbble" /></p>
            </a>
        </div>
        <div class="preview last">
            <a href="https://dribbble.com/shots/4309003-MINI-FS-Ringtones-Website">
                <h4>MINI FS Ringtones Website</h4>
                <p><img src="/images/dribbble/mini-fs-ringtones-website.gif" alt="MINI FS Ringtones Website preview" title="MINI FS Ringtones Website on dribbble" /></p>
            </a>
        </div>
        <div class="preview">
            <a href="https://dribbble.com/shots/3115598-BMW-FS-Email-Templates">
                <h4>BMW FS Email Templates</h4>
                <p><img src="/images/dribbble/bmw-fs-email.gif" alt="BMW FS Email Templates preview" title="BMW FS Email Templates on dribbble" /></p>
            </a>
        </div>
        <div class="preview">
            <a href="https://dribbble.com/shots/2930124-My-Mederma-App-for-iOS-Android">
                <h4>My Mederma App</h4>
                <p><img src="/images/dribbble/my-mederma-app.png" alt="My Mederma App preview" title="My Mederma App on dribbble" /></p>
            </a>
        </div>
    </section>
</aside>
