<aside class="container" id="elsewhere">
    <header class="wrapper">
        <h2>Find him elsewhere.</h2>
    </header>

    <article class="wrapper">
        <ul>
            <li id="link-twitter" class="group">
                <a href="http://twitter.com/notasausage">
                    {% include svg-twitter.html %}
                    <h3>Follow Patrick <em>on twitter</em></h3>
                </a>
            </li>
            <li id="link-dribbble" class="group">
                <a href="http://portfolio.patrickhaney.com">
                    {% include svg-dribbble.html %}
                    <h3>His portfolio <em>on dribbble</em></h3>
                </a>
            </li>
            <li id="link-instagram" class="group">
                <a href="http://instagram.com/notasausage">
                    {% include svg-instagram.html %}
                    <h3>View photos <em>on Instagram</em></h3>
                </a>
            </li>
            <li id="link-linkedin" class="group">
                <a href="https://www.linkedin.com/in/patrickhaney">
                    {% include svg-linkedin.html %}
                    <h3>Connect <em>on LinkedIn</em></h3>
                </a>
            </li>
            <li id="link-amazon" class="group last">
                <a href="https://amzn.com/w/36OCZ32G3WEA4">
                    {% include svg-amazon.html %}
                    <h3>His wishlist <em>on amazon</em></h3>
                </a>
            </li>
        </ul>
    </article>
</aside>
