<aside class="container" id="elsewhere">
    <header class="wrapper">
        <h2>Find him elsewhere.</h2>
    </header>

    <article class="wrapper">
        <ul class="group">
            <li id="link-twitter">
                <a href="http://twitter.com/notasausage"><img src="/images/icon-twitter-fill.png" alt="" class="icon-hover">Follow Patrick <span>on twitter</span></a>
            </li>
            <li id="link-dribbble">
                <a href="http://dribbble.com/notasausage"><img src="/images/icon-dribbble-fill.png" alt="" class="icon-hover">See his work <span>on dribbble</span></a>
            </li>
            <li id="link-flickr">
                <a href="http://flickr.com/photos/splat"><img src="/images/icon-flickr-fill.png" alt="" class="icon-hover">View photos <span>on flickr</span></a>
            </li>
            <li id="link-amazon" class="last">
                <a href="https://amzn.com/w/36OCZ32G3WEA4"><img src="/images/icon-amazon-fill.png" alt="" class="icon-hover">His wishlist <span>on amazon</span></a>
            </li>
        </ul>
    </article>
</aside>
