<section class="container">
    <header class="wrapper">
        <h2>Previous experience.</h2>
    </header>

    <article class="wrapper">
        <p>
            Currently working with clients like BMW &amp; MINI Financial Services, Mederma and Delta, Patrick designs and builds enjoyable experiences across email, the web and mobile applications as an Experience Designer at Partners + Napier. He&#8217;s previously worked at Litmus, Harvard University and RIT.
        </p>
    </article>
</section>
