<footer class="container" id="page-footer">
    <section class="wrapper">
        <p>
            <img src="/images/icon-cc-fill.png" alt="Creative Commons" class="icon-hover">
            &copy;2016 Patrick Haney, all rights reserved. This website is <a href="http://rochestermade.com">Rochester Made</a> and is protected by a <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/">Creative Commons BY-NC-ND</a> license. Please ask before using Patrick&#8217;s work.
        </p>
    </section>
</footer>
