<header class="container" id="page-header">
    <nav class="wrapper" id="nav-primary">
        <a href="/" id="nav-home">
            <h1 id="page-logo">
                <img src="/images/logo-ph-fill.png" alt="" class="icon-hover"><img src="/images/logo-ph-lines.png" alt="Patrick Haney's logo">
            </h1>
        </a>
        <!-- <ul>
            <li><a href="/thinktank/">Articles</a></li>
            <li><a href="/presents/">Speaking</a></li>
            <li><a href="/portfolio/">Portfolio</a></li>
            <li><a href="/about/">About</a></li>
        </ul> -->
    </nav>

    <article class="wrapper" id="bio">
        <h2>Patrick Haney is not a sausage.</h2>
        <p>
            By day, he's the design lead at <a href="http://litmus.com" id="bio-litmus" class="bio-link"><img src="/images/icon-litmus-fill.png" alt="" class="icon-hover">Litmus</a>. By night, he builds things at <a href="http://hanerino.com" id="bio-hanerino" class="bio-link"><img src="/images/icon-hanerino-fill.png" alt="" class="icon-hover">Hanerino</a>. He also teaches at the <a href="http://cdiabu.com" id="bio-bu" class="bio-link"><img src="/images/icon-bu-fill.png" alt="" class="icon-hover"><abbr title="Center for Digital Imaging Arts">CDIA</abbr></a> and organizes events for <a href="http://refreshboston.org" id="bio-refresh" class="bio-link" title="Refresh Boston"><img src="/images/icon-refresh-fill.png" alt="" class="icon-hover">Refresh Boston</a>.
        </p>
    </article>
</header>
