<header class="container" id="page-header">
    <nav class="wrapper" id="nav-primary">
        <a href="/" id="nav-home">
            <h2 id="page-logo">
                <img src="/images/patrick-haney.jpg" alt="Patrick Haney, not a sausage">
            </h2>
        </a>
        <!-- <ul>
            <li><a href="/thinktank/">Articles</a></li>
            <li><a href="/presents/">Speaking</a></li>
            <li><a href="/portfolio/">Portfolio</a></li>
            <li><a href="/about/">About</a></li>
        </ul> -->
    </nav>

    <article class="wrapper" id="bio">
        <h1>Error 404, file not found.</h1>
        <p>
            Which, in English, means that the page you're looking for has moved, was deleted, or never existed in the first place. No worries, just head back <a href="/">to the homepage</a> and we'll figure it out.
        </p>
    </article>
</header>
