<header class="container" id="page-header">
    <nav class="wrapper" id="nav-primary">
        <a href="/" id="nav-home">
            <h2 id="page-logo">
                <img src="/images/patrick-haney.jpg" alt="Patrick Haney, not a sausage">
            </h2>
        </a>
        <!-- <ul>
            <li><a href="/thinktank/">Articles</a></li>
            <li><a href="/presents/">Speaking</a></li>
            <li><a href="/portfolio/">Portfolio</a></li>
            <li><a href="/about/">About</a></li>
        </ul> -->
    </nav>

    <article class="wrapper" id="bio">
        <h1>Patrick Haney is <a href="http://notasausage.com">not a sausage</a>.</h1>
        <p>
            He&#8217;s a UX Designer &amp; Front-End Developer at <a href="http://hanerino.com" id="bio-hanerino" class="bio-link">{% include svg-hanerino.html %}Hanerino</a>. Previously an instructor at <a href="http://www.thecenterfordigitalarts.com" id="bio-cda" class="bio-link">{% include svg-cda.html %}The Center for Digital Arts</a>, he currently lives in a <a href="http://twitter.com/midmodernized" id="bio-midmodernized" class="bio-link">{% include svg-midmodernized.html %}Mid-Century Modern home</a> that tweets.
        </p>
    </article>
</header>
