<header class="container" id="page-header">
    <nav class="wrapper" id="nav-primary">
        <a href="http://twitter.com/notasausage" id="nav-home">
            <h2 id="page-logo">
                <img src="/images/patrick-haney.jpg" alt="Patrick Haney, not a sausage">
            </h2>
        </a>
    </nav>

    <article class="wrapper" id="bio">
        <h1>Patrick Haney is <a href="http://notasausage.com">not a sausage</a>.</h1>
        <p>
            He&#8217;s a UX Designer &amp; Front-End Developer at <a href="http://hanerino.com" id="bio-hanerino" class="bio-link">{% include svg-hanerino.html %}Hanerino</a>. Currently an instructor at <a href="http://naz.edu" id="bio-naz" class="bio-link">{% include svg-nazareth.html %}Nazareth College</a>, he also lives in a <a href="http://twitter.com/midmodernized" id="bio-midmodernized" class="bio-link">{% include svg-midmodernized.html %}Mid-Century Modern home</a> that tweets.
        </p>
    </article>
</header>
