@font-face {
    font-family: 'Quattrocento Regular';
    src: url('/fonts/quattrocento-regular-webfont.eot');
    src: url('/fonts/quattrocento-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/quattrocento-regular-webfont.woff') format('woff'),
         url('/fonts/quattrocento-regular-webfont.ttf') format('truetype'),
         url('/fonts/quattrocento-regular-webfont.svg#QuattrocentoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Terminal Dosis Extra Light';
    src: url('/fonts/terminal_dosis-extralight-webfont.eot');
    src: url('/fonts/terminal_dosis-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/terminal_dosis-extralight-webfont.woff') format('woff'),
         url('/fonts/terminal_dosis-extralight-webfont.ttf') format('truetype'),
         url('/fonts/terminal_dosis-extralight-webfont.svg#TerminalDosisExtraLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Terminal Dosis Book';
    src: url('/fonts/terminal_dosis-book-webfont.eot');
    src: url('/fonts/terminal_dosis-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/terminal_dosis-book-webfont.woff') format('woff'),
         url('/fonts/terminal_dosis-book-webfont.ttf') format('truetype'),
         url('/fonts/terminal_dosis-book-webfont.svg#TerminalDosisBook') format('svg');
    font-weight: normal;
    font-style: normal;
}
